          <div class="row">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <div class="container">
                <div class="carousel-caption">
                  <a href="service-studios.html"><p>Дублирование фильмов,<br>цифровая лаборатория,<br>звуковой post-production</p></a>
                </div>
                <img src="public/img/Nevafilm_studios.jpg" alt="studios-slide-img" width="1280" height="734">
              </div>
            </div>
          <div class="item">
            <div class="container">
              <div class="carousel-caption">
                <a href="#"><p>Исследования и аналитика рынка<br>кинотеатрального показа</p></a>
              </div>
              <img src="public/img/Nevafilm_research.jpg" alt="research-slide-img" width="1280" height="734">
            </div>
          </div>
          <div class="item">
            <div class="container">
              <div class="carousel-caption">
                <a href="#"><p>Дистрибуция креативного контента</p></a>
              </div>
              <img src="public/img/Nevafilm_emotion.jpg" alt="emotion-slide-img" width="1280" height="734">
            </div>
          </div>
            <div class="item">
              <div class="container">
                <div class="carousel-caption">
                  <a href="#"><p>Проектирование и оборудование<br>кинотеатров и мультиплексов</p></a>
                </div>
                <img src="public/img/Nevafilm_cinemas.jpg" alt="cinemas-slide-img.png" width="1280" height="734">
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          </div>
        </div>