{namespace v=FluidTYPO3\Vhs\ViewHelpers}

	<v:page.menu.directory entryLevel="1" classActive="active" classCurrent="current" classHasSubpages="" 
	classFirst="first" classLast="last" pages="1" excludePages="{settings.excludePages}">
		<f:if condition="{menu}">
		<ul class="cinemas-nav">
			<f:for each="{menu}" as="menuPages" iteration="iteration">
			<li{f:if(then: ' class="{menuPages.class}"', else: '', condition: '{menuPages.class}')}>
				<f:if condition="{menuPages.current} == 1">
					<f:then>
						<a href="{menuPages.link}"{f:if(then: ' title="{menuPages.nav_title}"', else: '', condition: '{menuPages.nav_title}')}>
							{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")}
						</a>
					</f:then>
					<f:else>
						<a href="{menuPages.link}"{f:if(then: ' title="{menuPages.nav_title}"', else: '', condition: '{menuPages.nav_title}')}>
							{menuPages.nav_title -> v:or(alternative: "{menuPages.title}")}
						</a>
					</f:else>
				</f:if>
			</li>
			</f:for>
		</ul>
		</f:if>
	</v:page.menu.directory>	