<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:rx="http://typo3.org/ns/Reelworx/RxShariff/ViewHelper"
	  data-namespace-typo3-fluid="true">

<f:layout name="Detail" />

<!--
	=====================
		News/Detail.html
-->

<f:section name="content">
	<f:if condition="{newsItem}">
		<f:then>
			<n:format.nothing>
				<n:excludeDisplayedNews newsItem="{newsItem}" />
				<f:if condition="{newsItem.alternativeTitle}">
					<f:then>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.alternativeTitle}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:then>
					<f:else>
						<n:titleTag>
							<f:format.htmlentitiesDecode>{newsItem.title}</f:format.htmlentitiesDecode>
						</n:titleTag>
					</f:else>
				</f:if>
				<f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings:settings}" />
			</n:format.nothing>
						
			<f:if condition="{settings.detail.showPrevNext}">
				<n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
					<f:if condition="{paginated}">
						<ul class="pager">
							<f:if condition="{paginated.prev}">
								<li class="previous">
									<n:link newsItem="{paginated.prev}" settings="{settings}">
										<span aria-hidden="true">&larr; </span>{paginated.prev.title}
									</n:link>
								</li>
							</f:if>
							<f:if condition="{paginated.next}">
								<li class="next">
									<n:link newsItem="{paginated.next}" settings="{settings}" class="next">
										{paginated.next.title} <span aria-hidden="true"> &rarr;</span>
									</n:link>
								</li>
							</f:if>
						</ul>
					</f:if>
				</n:simplePrevNext>
			</f:if>
			
			
	<f:if condition="{settings.templateLayout} == 20">
		<div class="page-news__content">
			<h3 itemprop="headline">{newsItem.title}</h3>
			<f:render partial="Detail/FalMediaContainer" arguments="{media: newsItem.falMedia, settings:settings}" />
				<f:if condition="{newsItem.teaser}">
				<!-- teaser -->
				<div class="teaser-text" itemprop="description">
					<f:format.html>{newsItem.teaser}</f:format.html>
				</div>
			</f:if>

			<f:if condition="{newsItem.contentElements}">
				<!-- content elements -->
				<f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
			</f:if>
	
			<!-- main text -->
			<div class="news-text-wrap" itemprop="articleBody">
				<f:format.html>{newsItem.bodytext}</f:format.html>
			</div>	
			
     	<div class="news-content__large_links">
      	<span class="date">
      		<f:format.date format="{f:translate(key:'dateFormat')}">{newsItem.datetime}</f:format.date>
					<meta itemprop="datePublished" content="{f:format.date(date:newsItem.datetime, format:'Y-m-d')}" />
      	</span>
      	<br />
                
			<f:if condition="{newsItem.firstCategory}">
				<f:link.page pageUid="{newsItem.firstCategory.shortcut}">
					<span class="hashtag {newsItem.firstCategory.description}">
						#{newsItem.firstCategory.title}
					</span>
				</f:link.page>
			</f:if>		        
        
      </div>			

			<f:if condition="{settings.detail.showSocialShareButtons}">
				<f:comment>
					Care about the privacy of your readers?
					Checkout https://typo3.org/extensions/repository/view/rx_shariff
					and it will be used automatically!
				</f:comment>
				<n:extensionLoaded extensionKey="rx_shariff">
					<f:then>
						<f:render partial="Detail/Shariff" />
					</f:then>
					<f:else>
						<div class="social">
							<div class="like">
								<n:social.facebook.like />
							</div>
							<div class="share">
								<n:social.facebook.share />
							</div>
							<div class="twitter">
								<n:social.twitter>Twitter</n:social.twitter>
							</div>
						</div>
					</f:else>
				</n:extensionLoaded>
			</f:if>

			<f:if condition="{settings.detail.disqusShortname}">
				<div id="disqus_thread"></div>
				<n:social.disqus newsItem="{newsItem}"
								 shortName="{settings.detail.disqusShortname}"
								 link="{n:link(newsItem:newsItem, settings:settings, uriOnly:1, configuration:'{forceAbsoluteUrl:1}')}" />
			</f:if>
		
		</div>
	</f:if>			


		</f:then>
		<f:else>

		</f:else>
	</f:if>
</f:section>
</html>